doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Pokemon Card Generator
        link(rel="stylesheet", href="./styles.css")
    body
        #page
            h1.title Pokemon Card Generator
            #input
                input(type="text" id="number-input")
                input(type="submit" id="submit-number" value="Enter a number")
            #characters
        script(src="./script.js")