doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Pokemon Card Generator
        link(rel="stylesheet", href="./styles.css")
    body
        //- fun with the poke-api!
        //- more animations to come soon :)
        //- find me on twitter: @flangerhanger

        //- open in desktop, or full screen on mobile (close the editor windows) for best effect
        #page
            h1.title 
            #pokeball-container
                #ball
                button(type="submit" id="submit-number")
                #shadow
            #characters
        script(src="./script.js")
