doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Pokemon Card Generator
        link(rel="stylesheet", href="./styles.css")
    body
        //- fun with the poke-api!
        //- more animations to come soon :)
        //- find me on twitter: @flangerhanger

        //- open in desktop, or full screen on mobile (close the editor windows) for best effect
        #page
            h1.title 
            #pokeball-container
                //- #ball
                <svg width="412" height="418" viewBox="0 0 412 418" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-inside-1" fill="white">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M411.979 209C411.993 208.002 412 207.002 412 206C412 92.2293 319.771 0 206 0C92.2293 0 0 92.2293 0 206C0 207.002 0.00714943 208.002 0.0214001 209H411.979Z"/>
                </mask>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M411.979 209C411.993 208.002 412 207.002 412 206C412 92.2293 319.771 0 206 0C92.2293 0 0 92.2293 0 206C0 207.002 0.00714943 208.002 0.0214001 209H411.979Z" fill="#DADADA"/>
                <path d="M411.979 209V217H419.865L419.978 209.114L411.979 209ZM0.0214001 209L-7.97778 209.114L-7.86521 217H0.0214001V209ZM404 206C404 206.964 403.993 207.926 403.979 208.886L419.978 209.114C419.993 208.078 420 207.04 420 206H404ZM206 8C315.352 8 404 96.6476 404 206H420C420 87.8111 324.189 -8 206 -8V8ZM8 206C8 96.6476 96.6476 8 206 8V-8C87.8111 -8 -8 87.8111 -8 206H8ZM8.02059 208.886C8.00688 207.926 8 206.964 8 206H-8C-8 207.04 -7.99258 208.078 -7.97778 209.114L8.02059 208.886ZM0.0214001 217H411.979V201H0.0214001V217Z" fill="#424242" mask="url(#path-1-inside-1)"/>
                <mask id="path-3-inside-2" fill="white">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0214051 209C0.00715345 209.998 1.24209e-05 210.998 1.25085e-05 212C2.24546e-05 325.771 92.2294 418 206 418C319.771 418 412 325.771 412 212C412 210.998 411.993 209.998 411.979 209L0.0214051 209Z"/>
                </mask>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0214051 209C0.00715345 209.998 1.24209e-05 210.998 1.25085e-05 212C2.24546e-05 325.771 92.2294 418 206 418C319.771 418 412 325.771 412 212C412 210.998 411.993 209.998 411.979 209L0.0214051 209Z" fill="#EF3E3E"/>
                <path d="M0.0214051 209L0.0214044 201L-7.8652 201L-7.97778 208.886L0.0214051 209ZM411.979 209L419.978 208.886L419.865 201L411.979 201L411.979 209ZM8.00001 212C8.00001 211.036 8.00688 210.074 8.02059 209.114L-7.97778 208.886C-7.99258 209.922 -7.99999 210.96 -7.99999 212L8.00001 212ZM206 410C96.6476 410 8.00002 321.352 8.00001 212L-7.99999 212C-7.99998 330.189 87.8111 426 206 426L206 410ZM404 212C404 321.352 315.352 410 206 410L206 426C324.189 426 420 330.189 420 212L404 212ZM403.979 209.114C403.993 210.074 404 211.036 404 212L420 212C420 210.96 419.993 209.922 419.978 208.886L403.979 209.114ZM411.979 201L0.0214044 201L0.0214058 217L411.979 217L411.979 201Z" fill="#424242" mask="url(#path-3-inside-2)"/>
                <rect y="201" width="412" height="19" fill="#424242"/>
                <circle cx="206" cy="206" r="55" fill="white" stroke="#424242" stroke-width="16"/>
                <circle id="pokeball-click" cx="206.5" cy="206.5" r="35.5" fill="white" stroke="#424242" stroke-width="2"/>

            #shadow
            #card
script(src="./script.js")
script(src="./data.js")
