@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway:wght@600&display=swap");
:root {
  --size: 50;
  --unit: calc((var(--size) / 100) * 1vmin);
  font-family: "Raleway", sans-serif;
}

:root * {
  margin: 0;
}

#page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: #323235;
}

#characters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  height: calc(170 * var(--unit));
  width: calc(120 * var(--unit));
  background: white;
  border-radius: 8% / 6%;
  border: calc(4 * var(--unit)) solid whitesmoke;
  -webkit-box-shadow: 1em 1em 2em black;
          box-shadow: 1em 1em 2em black;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
  -webkit-transition: -webkit-box-shadow 1s ease;
  transition: -webkit-box-shadow 1s ease;
  transition: box-shadow 1s ease;
  transition: box-shadow 1s ease, -webkit-box-shadow 1s ease;
}

#characters:hover {
  -webkit-box-shadow: 4em 4em 2em black;
          box-shadow: 4em 4em 2em black;
}

#characters h2 {
  color: #3a3a3f;
  letter-spacing: calc(2 * var(--unit));
  font-size: calc(10 * var(--unit));
  margin: 8% 0 2% 6%;
}

#characters h3 {
  font-size: calc(9 * var(--unit));
  text-align: right;
  margin-right: 5%;
}

#characters p {
  color: #3a3a3f;
  letter-spacing: calc(1 * var(--unit));
  font-size: calc(5 * var(--unit));
  margin: 0% 8%;
}

#characters #inner {
  color: #3a3a3f;
  letter-spacing: calc(0.5 * var(--unit));
  font-size: calc(4 * var(--unit));
  margin: 0% 8%;
}

#characters .mediaContainer {
  height: 60%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1%, whitesmoke), to(transparent));
  background: linear-gradient(0deg, whitesmoke 1%, transparent);
  -webkit-clip-path: polygon(0% 7%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 7%, 100% 0%, 100% 100%, 0% 100%);
}

img {
  width: 60%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translate(30%, 20%);
          transform: translate(30%, 20%);
}

#pokeball-container {
  -webkit-animation: wobble 3s infinite both;
          animation: wobble 3s infinite both;
  position: absolute;
}

#pokeball-container #shadow {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  width: calc(50 * var(--unit));
  height: calc(20 * var(--unit));
  background-color: black;
  opacity: 0.2;
  -webkit-box-shadow: 0 0 calc(4 * var(--unit)) calc(2 * var(--unit)) black;
          box-shadow: 0 0 calc(4 * var(--unit)) calc(2 * var(--unit)) black;
  position: absolute;
  bottom: -10%;
  left: 10%;
  z-index: -1;
  border-radius: 50%;
}

#pokeball-container button {
  display: block;
  height: calc(70 * var(--unit));
  width: calc(70 * var(--unit));
  background: linear-gradient(100deg, #b8b8b8 0%, white);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  border: none;
  -webkit-transform: translate(0%, 50%);
          transform: translate(0%, 50%);
  border-radius: 50%;
  animation: wobble 2s infinite both;
  -webkit-animation: wobble 2s infinite both;
}

#pokeball-container button::before {
  position: absolute;
  bottom: 48%;
  left: 0%;
  content: "";
  border-bottom: calc(4 * var(--unit)) solid #5e5c5c;
  height: calc(50 * var(--unit));
  width: calc(70 * var(--unit));
  background: linear-gradient(100deg, red 30%, #ff7777);
  z-index: 3;
}

#pokeball-container button::after {
  position: absolute;
  bottom: 37%;
  left: 38%;
  content: "";
  height: calc(10 * var(--unit));
  border-radius: 50%;
  width: calc(10 * var(--unit));
  border: calc(4 * var(--unit)) solid #5e5c5c;
  background: white;
  z-index: 3;
}

#pokeball-container button:active, #pokeball-container button:focus {
  border: none;
  outline: none;
}

#input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(10 * var(--unit));
}

@-webkit-keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
/*# sourceMappingURL=styles.css.map */