@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway:wght@600&display=swap");


:root {
	--size: 50;
	--unit: calc((var(--size) / 100) * 1vmin);
	font-family: "Raleway", sans-serif;
	* {
		margin: 0;
	}
}

@mixin flex($flex-direction, $flex-wrap, $justify, $align) {
	display: flex;
	flex-direction: $flex-direction;
	flex-wrap: $flex-wrap;
	justify-content: center;
	align-items: $align;
}

#page {
	@include flex(column, nowrap, center, center);
	height: 100vh;
	background: radial-gradient(circle, #2dfdd4 52%, rgba(34,193,195,1) 82%, rgba(60,154,207,1) 100%);
}
#card {
	@include flex(column, wrap, flex-start, null);
	visibility: hidden;
	height: calc(170 * var(--unit));
	width: calc(120 * var(--unit));
	background: white;
	border-radius: 8% / 6%;
	border: calc(4 * var(--unit)) solid whitesmoke;
	box-shadow: 1em 1em 2em black;
	transform: rotate(8deg);
	transition: box-shadow 1s ease;

	h2 {
		color: rgb(58, 58, 63);
		letter-spacing: calc(2 * var(--unit));
		font-size: calc(10 * var(--unit));
		margin: 8% 0 2% 6%;
	}

	h3 {
		font-size: calc(9 * var(--unit));
		text-align: right;
		margin-right: 5%;
	}
	p {
		color: rgb(58, 58, 63);
		letter-spacing: calc(1 * var(--unit));
		font-size: calc(5 * var(--unit));
		margin: 0% 8%;
	}

	#inner {
		color: rgb(58, 58, 63);
		letter-spacing: calc(0.5 * var(--unit));
		font-size: calc(4 * var(--unit));
		margin: 0% 8%;
	}
	.mediaContainer {
		height: 60%;
		background: linear-gradient(0deg, whitesmoke 1%, transparent);
		clip-path: polygon(0% 7%, 100% 0%, 100% 100%, 0% 100%);
	}
}

img {
	width: 60%;
	height: auto;
	object-fit: contain;
	transform: translate(30%, 20%);
}

#pokeball-container {
	
	position: absolute;

	svg{
		width: calc(80 * var(--unit));
		height: calc(80 * var(--unit));
		animation: wobble 3s infinite both;
	}
}

.title {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: calc(10 * var(--unit));
}

@-webkit-keyframes wobble {
	0%,
	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	15% {
		-webkit-transform: translateX(-30px) rotate(-6deg);
		transform: translateX(-30px) rotate(-6deg);
	}
	30% {
		-webkit-transform: translateX(15px) rotate(6deg);
		transform: translateX(15px) rotate(6deg);
	}
	45% {
		-webkit-transform: translateX(-15px) rotate(-3.6deg);
		transform: translateX(-15px) rotate(-3.6deg);
	}
	60% {
		-webkit-transform: translateX(9px) rotate(2.4deg);
		transform: translateX(9px) rotate(2.4deg);
	}
	75% {
		-webkit-transform: translateX(-6px) rotate(-1.2deg);
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
@keyframes wobble {
	0%,
	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	15% {
		-webkit-transform: translateX(-30px) rotate(-6deg);
		transform: translateX(-30px) rotate(-6deg);
	}
	30% {
		-webkit-transform: translateX(15px) rotate(6deg);
		transform: translateX(15px) rotate(6deg);
	}
	45% {
		-webkit-transform: translateX(-15px) rotate(-3.6deg);
		transform: translateX(-15px) rotate(-3.6deg);
	}
	60% {
		-webkit-transform: translateX(9px) rotate(2.4deg);
		transform: translateX(9px) rotate(2.4deg);
	}
	75% {
		-webkit-transform: translateX(-6px) rotate(-1.2deg);
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}